<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <main>
        <form action="/signup" method="post">
            <div class="contents">
                <form>
                    <input type="text" value="foo@gmail.com" name="email">
                    <input type="password" value="1234" name="password">
                    <input type="text" value="홍길동" name="name">
                    <input type="text" value="서울 동남산" name="address">
                    <button type="submit">가입</button>
                </form>
            </div>
        </form>
    </main>
</body>
</html>